    body {
        /* background-color: rgb(204, 204, 204); */
        /* background-image: url("../assets/bg_kitchen.jpg");
    background-repeat: repeat;
    background-size: 500px; */
        font-family: 'Raleway', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'RocknRoll One', sans-serif;
    }
    
    .navbar {
        background-color: #f9ab40;
    }
    
    .navbar-brand a {
        font-family: "Sofia", sans-serif;
    }
    
    .carousel-item {
        background-color: #f9ab40;
        /* height: 500px; */
    }
    
    .carousel1 img {
        max-height: 90%;
        width: 90%;
    }
    /* css main */
    
    .kategori-resep {
        margin-bottom: 100px;
    }
    
    .kategori-resep h1 {
        text-align: center;
        margin-top: 50px;
        font-weight: bold;
    }
    
    .kategori-resep div {
        margin-top: 20px;
    }
    
    .kategori-resep a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    .kategori-resep a:hover {
        opacity: 0.5;
        color: rgb(28, 28, 28);
    }
    /* .kategori-resep a:hover {
    color: white;
} */
    
    .kategori-resep img {
        width: 100px;
    }
    /* css index kategori cokies */
    
    .baris1,
    .baris2 {
        height: auto;
        /* margin-bottom: 30px; */
    }
    
    #kolom1 {
        /* background-color: #d3e353; */
        background-color: #f8e8c8;
    }
    
    #kolom2 {
        background-color: #f47c84;
        /* border: #a9e5d5;
    border-style: solid; */
    }
    
    #kolom2 a,
    #kolom3 a {
        text-decoration: none;
    }
    
    #kolom2 a:hover {
        opacity: 0.7;
    }
    
    #kolom3 {
        background-color: rgb(93, 223, 252);
        /* background-color: rgb(87, 79, 79); */
        /* border: rgb(93, 223, 252);
        border-style: solid; */
    }
    
    #kolom4 {
        background-color: #ccb7a4;
        /* background-color: #ffce66; */
    }
    
    #kolom5 {
        background-color: rgb(93, 223, 252);
        /* background-color: rgb(87, 79, 79); */
        /* border: rgb(93, 223, 252);
        border-style: solid; */
    }
    
    #kolom6 {
        background-color: #ffce66;
    }
    
<<<<<<< HEAD
    .judul-artikel .row {
        height: fit-content;
=======
    .judul-artikel {
        /* height: fit-content; */
>>>>>>> d7b8375638750c92fb82e72c476cf687afb95778
        background-color: #f9ab40;
        margin: 0;
        color: white;
    }
    
    .judul-artikel img {
        width: 100%;
<<<<<<< HEAD
        height: 70%;
        object-fit: cover;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 0;
=======
        height: 450px;
        object-fit: cover;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 50px;
>>>>>>> d7b8375638750c92fb82e72c476cf687afb95778
    }
    
    .pembuka p {
        margin-right: 10%;
        margin-left: 10%;
    }
    
    .alat-bahan {
        background-color: #f8e8c8;
    }
    /* .alat {
        background-color: #f47c84;
    } */
    
    .alat-bahan p {
        line-height: 10px;
    }
    
    .alat,
    .bahan {
        border: 1px solid;
        border-radius: 10px;
        border-color: white;
        margin: 20px 20px;
        padding-left: 10px;
    }
    
    .cara-kerja {
        padding: 30px 30px;
    }
    
    .cara-kerja p {
        text-align: justify;
    }
    
    .layout-promosi {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }
    
    .layout-video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    
    .komentar {
        height: auto;
        background-color: #f47c84;
        padding: 20px 30px;
    }
    
    .nama-komentator {
        line-height: 6px;
        font-size: 18px;
        font-style: italic;
    }
    
    .foto-profil img {
        width: 50px;
        background-color: #f0a5aa;
    }
    
    .rekomendasi-artikel {
        background-color: #ccb7a4;
    }
    
    .rekomendasi-artikel h5 {
        margin-left: 30px;
    }
    
    .list-rekomendasi {
        margin: 0 10%;
        border: 1px solid white;
        border-radius: 10px;
    }
    
    .list-rekomendasi img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    
    .list-rekomendasi a {
        text-decoration: none;
        text-align: center;
        color: black
    }
    
    .list-rekomendasi a:hover {
        opacity: 0.5;
        color: black;
    }
    /* css for footer */
    
    .as-footer {
        height: 70px;
    }
    
    .button-up {
        margin-top: -70px;
        bottom: 70px;
        position: fixed;
        right: 0;
    }
    
    footer {
        height: 70px;
        /* background-color: #44455b; */
        /* background-color: rgb(87, 79, 79); */
        background-color: #3f372e;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    
    footer p {
        text-align: center;
        color: white;
        padding: 20px;
    }