    body {
        /* background-color: rgb(204, 204, 204); */
        /* background-image: url("../assets/bg_kitchen.jpg");
    background-repeat: repeat;
    background-size: 500px; */
        font-family: 'Raleway', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'RocknRoll One', sans-serif;
    }
    
    .navbar {
        background-color: #f9ab40;
    }
    
    .navbar-brand a {
        font-family: "Sofia", sans-serif;
    }
    
    .carousel-item {
        background-color: #f9ab40;
        /* height: 500px; */
    }
    
    .carousel1 img {
        max-height: 90%;
        width: 90%;
    }
    /* css main */
    
    .kategori-resep {
        margin-bottom: 100px;
    }
    
    .kategori-resep h1 {
        text-align: center;
        margin-top: 50px;
        font-weight: bold;
    }
    
    .kategori-resep div {
        margin-top: 20px;
    }
    
    .kategori-resep a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    .kategori-resep a:hover {
        opacity: 0.5;
        color: rgb(28, 28, 28);
    }
    /* .kategori-resep a:hover {
    color: white;
} */
    
    .kategori-resep img {
        width: 100px;
    }
    /* css index kategori cokies */
    
    .baris1,
    .baris2 {
        height: auto;
        /* margin-bottom: 30px; */
    }
    
    #kolom1 {
        background-color: #cafa5b;
    }
    
    #kolom2 {
        background-color: rgb(230, 104, 104);
        /* border: #a9e5d5;
    border-style: solid; */
    }
    
    #kolom2 a,
    #kolom3 a {
        text-decoration: none;
    }
    
    #kolom2 a:hover {
        opacity: 0.7;
    }
    
    #kolom3 {
        background-color: rgb(93, 223, 252);
        /* background-color: rgb(87, 79, 79); */
        /* border: rgb(93, 223, 252);
        border-style: solid; */
    }
    
    #kolom4 {
        background-color: #ffce66;
    }
    
    #kolom5 {
        background-color: rgb(93, 223, 252);
        /* background-color: rgb(87, 79, 79); */
        /* border: rgb(93, 223, 252);
        border-style: solid; */
    }
    
    #kolom6 {
        background-color: #ffce66;
    }
    /* .produk a {
    text-decoration: none;
    color: black;
}

.produk a:hover {
    opacity: 0.5;
    color: black;
}

.produk img {
    max-width: 200px;
    margin-top: 10px;
}

.kolom-produk {
    border-width: thin;
    border: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230)
} */
    /* css for footer */
    
    footer {
        height: 70px;
        /* background-color: #44455b; */
        background-color: rgb(87, 79, 79);
    }
    
    footer p {
        text-align: center;
        color: white;
        padding: 20px;
    }